<%- include("partials/header.ejs") %>

<% if (locals.card) { %>
    <div class="card-container">
        <img src="<%= card.image %>/high.webp" alt="Pokémon TCG card">
    </div>
    <!-- <form id="goBack" method="get">
        <select name="hidden-select" disabled><option value=<%= card.set.id %>></option></select>
        <input id="backToSets" type="submit" value="Back" formaction="/getSets">
    </form> -->
<% } else {%>
    <h1>error</h1>

 <% } %>
<%- include("partials/footer.ejs") %>